.uno {
color:red; text-decoration: underline;
}
#2 {
    color: white; background-color: red;
}
#3 {
    color: gray; text-decoration: underline;
}
#4 {
    color: red; text-decoration: underline;
}
#5 {
    color: red; text-decoration: underline;
}